<!doctype HTML>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Seat {{seatNumber}} | Pack {{packNumber}} Pick {{pickNumber}}</title>
  <meta property="og:title" content="Seat {{seatNumber}} | Pack {{packNumber}} Pick {{pickNumber}}">
  <meta property="og:image" content="{{packImage}}">
  <meta property="og:image:width" content="{{packImageWidth}}">
  <meta property="og:image:height" content="{{packImageHeight}}">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="Seat {{seatNumber}} | Pack {{packNumber}} Pick {{pickNumber}}">
  <meta property="twitter:image" content="{{packImage}}">
</head>
<body>
  <section>
    <h1>Pack</h1>
    {% render 'card.liquid' for pack as card %}
  </section>
  <section>
    <h1>Deck</h1>
    {% for cmc in drafted %}
      <div class="cmc">
        {% render 'card.liquid' for cmc as card %}
      </div>
    {% endfor %}
  </section>
  <section>
    <h1>Sideboard</h1>
    {% render 'card.liquid' for sideboard as card %}
  </section>
</body>
</html>
